services:
  db:
    image: postgres:latest
    container_name: risebyeden-pos
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: risebyeden
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql


volumes:
  pgdata:
